* {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --color-hover: #8BE9FD;
    --color-body: #1E1F29;
    /* --color-profile: linear-gradient(180deg, #222da8, #181f75, #0f1245); */
    --color-profile: #282A3A;
    --color-projects: #434458;
    --color-projects-hover: #282A3A;
    --color-text: #F8F8F2;
    --color-title: #ccc;
    --color-title-hover: #8BE9FD;
    --color-subtitle: #ccc;
    --color-wsp: #ccc;
    --color-gh: #ccc;
    --color-button: #434458;
    --color-button2: #ccc;
}

body {
    font-family: Arial, sans-serif;
    color: var(--color-text);
    /* background: linear-gradient(180deg, #3742fa, #303ce1, #2a36c9, #252fb1, #202999, #1b2383, #171d6c, #131757); */
    background-color: var(--color-body);
    padding-bottom: 20px;
}

/*  */
header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    border-bottom: 1px solid transparent;
    transition: all ease .50s;
}
.sticky {
    background-color: #00000048;
    padding: 10px 0 10px 15px;
}

.logo{
  font-family: 'Permanent Marker', cursive; 
  color: var(--color-title);
  font-size: 3rem;
}
.logo:hover{
  color: var(--color-title-hover);
}

#menu{
  display: flex;  
}
#menu a{
    color: var(--color-text);
    font-size: var(--p-font);
    font-weight: 600;
    margin: 0 40px;
    transition: all ease .40s;
}
#menu a:hover{
    color: var(--color-hover);
}
#menu-icon{
    font-size: 42px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}
/*  */

/* header {
    display: flex;
    height: 85px;
    background-color: #27242e;
    margin-bottom: 10px;
} */

#welcome-section {
    padding: 110px 20px 0;
    position: relative;
    display: grid;
    gap: 10px;
    grid-template-columns: 35% 1fr;
}

#perfil {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    margin-left: 10px;
    /* background-color: #27242e; */
    background: var(--color-profile);
}
#perfil p { 
    font-size: 17px;
}

#conocimientos {
    width: 100%;
    text-align: center;
}
#conocimientos > ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

#perfil-link a {
    margin: 0px 3px;
    transition: transform 0.3s, color 0.3s;
    color: white;
    font-size: 1.2rem;
}
#perfil-link a:hover {
    color: #ccc;
}

#projects {
    display: grid;
    grid-template-rows: 1fr 50px;
    gap: 15px;
}

#projects-seen {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 40px;
    padding: 20px;
}

.project-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 10px 5px;
    /* background-color: #27242e; */
    background-color: var(--color-projects);
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: transform 0.4s, box-shadow 0.3s;
}

.project-tile:hover {
    background-color: var(--color-projects-hover);
    cursor: pointer;
    box-shadow: 0px 6px 10px #e4e4e4;
    transform: translateY(-6px);
}
.project-tile a {
    color: white;
    margin-top: 15px;
    padding: 7px 7px;
    border-radius: 8px;
    border: 1px solid #a7a7a7;
    transition: color 0.3s, background-color 0.3s;
}
.project-tile a:hover {
    background-color: white;
    color: #000;
}

#more-projects {
    justify-items: center;
    font-weight: bold;
    font-size: 20px;
    margin: 0 auto;
    padding: 15px 25px;
    text-decoration: none;
    color: white;
    background-color: var(--color-button);
    border-radius: 5px;
    transition: box-shadow 0.5s, border-radius 0.7s;
}

#more-projects:hover {
    color: #000;
    background-color: var(--color-hover);
    border-radius: 15px;
    box-shadow: 0px 0px 5px #e4e4e4;
}


@media(max-width:1600px){
    header{
        padding: 14px 4%;
    }
}
@media (max-width:1200px){
    #menu a{
        margin:  0 20px;
    }
    :root{
        --h1-font:5rem;
        --h2-font:3.1rem;
        --p-font:1rem;  
    }
    .logo{
        font-size: 2rem;
    }     
}
@media (max-width:1060px){
    section{
        padding: 50px 5%;
    }
    :root{
        --h1-font:4rem;
        --h2-font:2.5rem;
        --p-font:0.8rem;  
    }    
}
@media (max-width:870px){
    body {
        height: unset;
    }

    #menu-icon{
        display: block;
    }
    #menu{
        position: absolute;
        top: -800px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background-color: #00000048;
        padding: 20px 0;
        text-align: left;
        transition:  all ease 0.50s;
    }
    #menu a{
        display: block;
        font-size: 22px;
        padding: 12px 0;
    }
    #menu.open{
        top:100%
    }
    
    #welcome-section {
        grid-template-columns: 1fr;
    }

    #projects > div {
        grid-template-columns: 1fr;
    }
    
    #links {
        display: none;
    }
}
