body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background-color: #333;
}

header {
    display: flex;
    height: 85px;
    background-color: #27242e;
    margin-bottom: 10px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

#navbar > h1 {
    font-size: 24px;
    margin-left: 10px;
}

#links {
    display: flex;
    gap: 20px;
}
#links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 5px 10px;
}

#welcome-section {
    display: grid;
    gap: 10px;
    grid-template-columns: 35% 1fr;
}

#perfil {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}
#perfil p { 
    font-size: 17px;
}

#conocimientos {
    width: 100%;
    text-align: center;
}
#conocimientos > ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

#perfil-link a {
    margin: 0px 5px;
}
#perfil-link img {
    width: 24px;
    height: 24px;
}

#projects {
    display: grid;
    grid-template-rows: 1fr 50px;
    gap: 15px;
}

#projects > div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 40px;
    padding: 20px;
    background-color: #333;
}

.project-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #27242e;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.project-tile:hover {
    background-color: #252030;
    cursor: pointer;
    box-shadow: #333 0px 0px 10px;
    transform: scale(1.02);
    transition: 0.3s;
}

#more-projects {
    justify-items: center;
    font-weight: bold;
    font-size: 20px;
    margin: 0 auto;
    padding: 15px 25px;
    text-decoration: none;
    color: white;
    background-color: #252030;
}

#more-projects:hover {
    background-color: #33264f;
    box-shadow: #333 0px 0px 10px;
    transition: 0.3s;
}

@media screen and (max-width: 768px) {
    #welcome-section {
        grid-template-columns: 1fr;
    }

    #perfil {
        display: none;
    }

    #projects > div {
        grid-template-columns: 1fr;
    }
    
    #links {
        display: none;
    }

}

ul {
    list-style-type: none;
    padding: 0;
}